@page "{Id}"
@model WebApp.User.UI.Pages.Pie.DisplayModel
@{
    //ViewData["Title"] = "Pie Details";
}

<!--Breadcrumb Row-->
<div class="row mb-4">
    <div class="col-12">
        <ol class="breadcrumb my-0">
            <li class="breadcrumb-item"><a asp-page="/Index" class="breadcrumb-link">Home</a></li>
            <li class="breadcrumb-item"><a asp-page="/Pie/List" class="breadcrumb-link">Pie List</a></li>
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </div>
</div>
<!--Breadcrumb Row-->

<!--Page Header Row-->
<div class="row mb-4">
    <div class="col-12">
        <div class="PageHeader">@ViewData["Title"]</div>
    </div>
</div>
<!--Page Header Row-->

<!--Content Row-->
<div class="row mb-4">
    <div class="col-4">
        <img src="@Model.ImageURL" class="imageThumbnail-Original" />
    </div>
    <div class="col-8">
        <strong>Pie Name:&nbsp;</strong>@Model.Pie.Name<br>
        <strong>Category Name:&nbsp;</strong>@Model.Pie.CategoryName<br>
        <strong>Price:&nbsp;</strong>@Model.Pie.Price<br>
        <strong>Expiry Date:&nbsp;</strong>@string.Format("{0:dddd, MMMM d, yyyy}", @Model.Pie.ExpiryDate)<br>
        <strong>In Stock:&nbsp;</strong>@Model.Pie.InStock
    </div>
</div>
<div class="row">
    <div class="col-12">
        <strong>Description:</strong><br>
        <p>
            @Html.Raw(Model.Pie.Description)
        </p>
    </div>
</div>
<!--Content Row-->