@page
@model WebApp.Admin.UI.Pages.Report.ApplicationLogModel
@inject IConfiguration _config

@{
	ViewData["Title"] = "Application/Exception Log";
}

@section Breadcrumb
{
<li class="breadcrumb-item"><a asp-page="/Index" class="breadcrumb-link">Home</a></li>
<li class="breadcrumb-item">Report</li>
<li class="breadcrumb-item active">@ViewData["Title"]</li>
}

<form method="post" class="overflow-auto">
	<div class="justify-content-end d-flex align-items-center mb-4">
		<span class="me-2">Total Record(s): @Model.TotalRecords</span><button asp-page-handler="Export" class="btn"><i class="fa-solid fa-file-export"></i></button>
	</div>

	<table class="table table-bordered table-sm table-hover table-valign-middle mb-0">
		<thead class="thead-light text-center">
			<tr>
				<th>Id</th>
				<th>Message</th>
				<th>Message Template</th>
				<th>Level</th>
				<th>TimeStamp</th>
				<th>Exception</th>
				<th>Propertiese</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody class="small">
			@foreach (var item in Model.ApplicationLogs)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.Message</td>
					<td>@item.MessageTemplate</td>
					<td>@item.Level</td>
					<td>@item.TimeStamp</td>
					<td>@item.Exception</td>
					<td>@item.Properties</td>

					<td class="text-center">
						<button asp-page-handler="Delete" asp-route-Id="@item.Id" class="btn btn-success" onclick="return confirm('Are you sure you want to delete?')">
							<i class="fas fa-trash-alt"></i>
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</form>

@if (Model.PageNumber > 0 && Model.TotalPages > 1)
{
	int pageSize = Convert.ToInt32(_config["SiteSettings:PageSize"]);
	<div class="row mt-4">
		<div class="col-sm-8 overflow-auto">
			<ul class="pagination mb-0">
				@for (var i = 1; i <= Model.TotalPages; i++)
				{
					<li class="pagination-item @(i == Model.PageNumber ? "active" : "")">
						<a asp-page="/Report/ApplicationLog" asp-route-pagenumber="@i" asp-route-c="rpt" asp-route-p="appl" class="pagination-link">@i</a>
					</li>
				}
			</ul>
		</div>
		<div class="col-sm-4 align-self-center text-sm-right text-center">
			Showing @(((Model.PageNumber - 1) * pageSize) + 1) to @((Model.PageNumber * pageSize) > Model.TotalRecords ? Model.TotalRecords : (Model.PageNumber * pageSize)) of @Model.TotalRecords records.
		</div>
	</div>
}